*{
    box-sizing: border-box;
}


body{
    background-color: #7d1e04;
}

main{
     margin:auto;
}

.container{
    max-width:1100px;
    min-width: 300px;
}

#principal{
    background-color: #E5890A;
    overflow: hidden;
    position: relative;
}

#selecionado{
    float: left;
}

#selecionado img{
    width: 30%;
}

#selecionado figcaption p{
    text-align: center;
}



#topFive{

}

#topFive img{
    width: 30%;
}



#sobremesa{
    background-color: #82954B;
    overflow: hidden;
}

#acompanhamento{
    background-color: #E0D8B0;
}




