header nav{
    background-color: #5c5e5e;
    overflow: hidden;
    height: 60px;
    margin-top:10px;
    max-width: 1400px;
    margin:auto;
    position: relative;
    border-radius:15px;
}

.midias{
    list-style: none;
    margin: 0;
    padding: 0;
    float:right;
    margin-top: 10px;
}


.midias li{
    float: left;
    margin-left:10px;
}

.midias a{
    display: block;
}

.imagemMidia{
    width: 50%;
    padding-top: 10px;
}

#pesquisa {
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#menu{
    position: absolute;
    margin-top: 10px;
}

#menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0; 
}

#menu ul li{
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    justify-content: center;
    align-content: center;

}

#menu a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 7px;
  }
  
  #menu  a:hover {
    background: #323233;
  }